.next-btn {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: $input-height;
    background-color: $secondary-color;
    color: $white-grey;
    font-family: $font-stack;
    font-size: $input-font-size;
}