
$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #f9f9f9;
$secondary-color: #276ef9;

// text colors
$dark-grey: #333333;
$light-grey: #ededed;
$white-grey: #ffffff;
$label-grey: #a1a1a1;
$email-warning: #f53d3b;

$input-height: 50px;
$input-font-size: 15px;
$parag-font-size: 12px;

// screen size
$break-medium: 1600px;
$break-small: 1000px;