@import 'config';
@import 'inputs';
@import 'button';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $secondary-color;
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: $primary-color;
    margin-left: 60px;
    justify-content: center;
    position: relative;
}

.form-wraper  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 300px;
    width: 90%;
    font-family: $font-stack;
    height: 100vh;
    
    h1, p {
        padding: 20px 0px;
        color: $dark-grey;
        font-family: $font-stack;
    }
    
    p {
        line-height: 20px; 
        padding: 10px 0px;
        font-size: $parag-font-size;
    }
    
    a {
        text-decoration: none;
        color: $secondary-color;
    }
}

.page-count {
    position: absolute;
    top: 30px;
    right: 40px;
    font-weight: bold;
    color: $dark-grey;
    font-size: $input-font-size;
    display: flex;

    .dots {
        color: $label-grey;
        margin-left: 10px;
    }

    .dot-dark {
        color: $dark-grey;
        margin-left: 10px;
    }
}

.heading {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $secondary-color;
    position: absolute;
    right: 40px;

    h2, p {
        font-family: $font-stack;
        color: $white-grey;
    }
    
    p {
        margin-top: 50px;
        line-height: 20px;
        padding: 0 180px;
        text-align: left;
        font-size: $parag-font-size;
    }
}

@media only screen and (max-width: $break-medium) {
    .form-wraper {
        padding: 0 150px;
    }

    .heading p {
        padding: 0 50px;
    }
}

@media only screen and (max-width: $break-small) {
    .form-wraper {
        padding: 0 50px;
        height: 100vh;
    }

    .heading p {
        padding: 0 50px;
    }

    .container {
        justify-content: center;
    }

    .heading {
        display: none;
    }
}

// iPhone X screen
@media only screen and (max-width: $break-very-small) {
    .form-wraper {
        padding: 0 10px;
        height: 100vh;
    }

    .heading p {
        padding: 0 50px;
    }

    .heading {
        display: none;
    }

    .container {
        justify-content: center;
        margin-left: 0;
    }
}